@import 'tailwindcss';

@variant dark (&:is(.dark *));

@theme {
	--color-section: #ffffff;
	--color-background: #eee0d3;
	--color-foreground: #ffffffc0;

	--color-neutral: #000000;
	--color-neutral-strong: #747474;
	--color-neutral-medium: #adadad;
	--color-neutral-weak: #e9e9e9;
	--color-neutral-contrast: #ffffff;

	--color-accent: #21c377;
	--color-accent-strong: #64d5a0;
	--color-accent-medium: #bcedd6;
	--color-accent-weak: #e9f9f1;
	--color-accent-contrast: #000000;

	--color-info: #3478df;
	--color-info-strong: #71a0e7;
	--color-info-medium: #c2d6f2;
	--color-info-weak: #ebf1f7;
	--color-info-contrast: #ffffff;

	--color-success: #359a73;
	--color-success-strong: #72b89b;
	--color-success-medium: #c2e0d1;
	--color-success-weak: #ebf4ec;
	--color-success-contrast: #ffffff;

	--color-warning: #df9b34;
	--color-warning-strong: #e9b96f;
	--color-warning-medium: #f5e0bf;
	--color-warning-weak: #fcf4e6;
	--color-warning-contrast: #ffffff;

	--color-danger: #df3434;
	--color-danger-strong: #e9716f;
	--color-danger-medium: #f5c1bf;
	--color-danger-weak: #fceae6;
	--color-danger-contrast: #ffffff;
}

@theme inline {
	--color-theme: var(--color-neutral);
	--color-theme-strong: var(--color-neutral-strong);
	--color-theme-medium: var(--color-neutral-medium);
	--color-theme-weak: var(--color-neutral-weak);
	--color-theme-contrast: var(--color-neutral-contrast);
}

@utility theme-neutral {
	--color-theme: var(--color-neutral);
	--color-theme-strong: var(--color-neutral-strong);
	--color-theme-medium: var(--color-neutral-medium);
	--color-theme-weak: var(--color-neutral-weak);
	--color-theme-contrast: var(--color-neutral-contrast);
}

@utility theme-accent {
	--color-theme: var(--color-accent);
	--color-theme-strong: var(--color-accent-strong);
	--color-theme-medium: var(--color-accent-medium);
	--color-theme-weak: var(--color-accent-weak);
	--color-theme-contrast: var(--color-accent-contrast);
}

@utility theme-danger {
	--color-theme: var(--color-danger);
	--color-theme-strong: var(--color-danger-strong);
	--color-theme-medium: var(--color-danger-medium);
	--color-theme-weak: var(--color-danger-weak);
	--color-theme-contrast: var(--color-danger-contrast);
}

@utility theme-info {
	--color-theme: var(--color-info);
	--color-theme-strong: var(--color-info-strong);
	--color-theme-medium: var(--color-info-medium);
	--color-theme-weak: var(--color-info-weak);
	--color-theme-contrast: var(--color-info-contrast);
}

@utility theme-warning {
	--color-theme: var(--color-warning);
	--color-theme-strong: var(--color-warning-strong);
	--color-theme-medium: var(--color-warning-medium);
	--color-theme-weak: var(--color-warning-weak);
	--color-theme-contrast: var(--color-warning-contrast);
}

@utility theme-success {
	--color-theme: var(--color-success);
	--color-theme-strong: var(--color-success-strong);
	--color-theme-medium: var(--color-success-medium);
	--color-theme-weak: var(--color-success-weak);
	--color-theme-contrast: var(--color-success-contrast);
}

@layer base {
	.dark {
		--color-section: #121110;
		--color-background: #000000;
		--color-foreground: #000000c0;

		--color-neutral: #ffffff;
		--color-neutral-strong: #89898b;
		--color-neutral-medium: #434346;
		--color-neutral-weak: #1b1b1f;
		--color-neutral-contrast: #000000;

		--color-accent: #21c377;
		--color-accent-strong: #1c8d59;
		--color-accent-medium: #154631;
		--color-accent-weak: #12221d;
		--color-accent-contrast: #000000;

		--color-info: #3478df;
		--color-info-strong: #24467c;
		--color-info-medium: #1a2840;
		--color-info-weak: #171c28;
		--color-info-contrast: #ffffff;

		--color-success: #359a73;
		--color-success-strong: #255746;
		--color-success-medium: #1b2f2a;
		--color-success-weak: #171f1f;
		--color-success-contrast: #ffffff;

		--color-warning: #df9b34;
		--color-warning-strong: #7a5726;
		--color-warning-medium: #3d2f1e;
		--color-warning-weak: #241f1a;
		--color-warning-contrast: #ffffff;

		--color-danger: #df3434;
		--color-danger-strong: #7a2426;
		--color-danger-medium: #3d1a1e;
		--color-danger-weak: #24171a;
		--color-danger-contrast: #ffffff;
	}
}
