@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clickable elements */
.clickable {
	@apply cursor-pointer transition-transform duration-300 hover:duration-200 sm:hover:translate-y-[-2px] sm:active:translate-y-[1px];
}

/* Scrollbar styles */
* {
	scrollbar-width: thin;
	scrollbar-color: hsl(var(--color-neutral)) hsl(var(--color-section));
}

/* Webkit scrollbar styles */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: hsl(var(--color-section));
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--color-neutral));
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--color-neutral) / 0.8);
}

.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
